@model IEnumerable<AIRLINE_.WEBAPP.Areas.Identity.Data.ApplicationUser>

<h1 class="text-center">All Operator Details</h1>

<hr class="makebolder"/>

@if (Model.Count() == 0)
{
    <table class="table table-striped table-bordered table-info">
        <thead>
            <tr class="text-center text-success">
                <th>No Operators To Display !</th>
            </tr>
        </thead>
    </table>
}
else{
    <table class="table table-striped table-bordered table-dark">
        <thead>
            <tr>
                <th class="text-center text-danger">Username</th>
                <th class="text-center text-danger">Pan number</th>
                <th class="text-center text-danger">Action</th>
            </tr>
        </thead>
        <tbody id="EmployeeList">
            @foreach (var user in Model)
            {
                <tr id="row_@user.Id">
                    <td class="text-info text-center">@user.UserName</td>
                    <td class="text-info text-center">@user.PanNumber</td>
                    <td class="text-center">
                        <button id="@user.UserName" value="@user.Id" class="btn btn-outline-danger remove">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    $(document).ready(function () {        

        $(".remove").click(function () {
            var id = $(this).val();
            var name = $(this).attr('id');

            swal({
                title: 'Delete operator with username ' + name + ' ?',
                text: "Once deleted, you will not be able to undo this process!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                closeOnClickOutside: false,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: 'https://localhost:7147/Admin/DeleteOperator?userId=' + id,
                        success: function () {
                            swal("Processing your request....", {
                                buttons: false,
                                timer: 1000,
                                closeOnClickOutside: false,
                            });
                            $("#row_" + id).remove();
                        },
                        error: function () {
                            alert("You got some errs.");
                        }
                    });
                }
            });
        });

        //$.ajax({
        //    type: "GET",
        //    url: "https://localhost:7147/admin/returnAllNonApproveRequests",
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    success: function (response) {
        //        //Clear all previous list of members
        //        $("#EmployeeList").empty();
        //        var temp = "<tr>";
        //        $.each(response, function (propName, propVal) {
        //            console.log(propName, propVal);
        //            //$("#EmployeeList").append("<tr><td>" + propVal.userName + "</td><td>" + propVal.panNumber + "</td> <td>" +" <button value=" +' propVal.id '+ " id= True class=btn btn-success>Approve</button>" +"<button value=' +" propVal.id "+ ' id= Fail class=btn btn-danger>Reject</button> </td> </tr>");
        //            $("#EmployeeList").append("<tr><td>" + propVal.userName + "</td><td>" + propVal.panNumber + "</td><td> <a href='#' class='btn btn-outline-danger remove' id= " + propVal.id + " value = " + propVal.id + " >Remove</a></td></tr>");
        //        });
        //    },
        //    failure: function (response) {
        //        console.log(response.responseText);
        //        console.log("Failure");
        //    },
        //    error: function (response) {
        //        console.log(response);
        //        console.log("Error");
        //    }
        //});

    });

</script>